.progress-bar-wrapper {
    height: 120px;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: .9em;
}

.progress-bar-container {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;

}

.progress-bar-container > .progress-bar-node {
    display: inline-block;
}

@media only screen and (max-width: 679px) {
    .progress-bar-node > .node-bottom-text.complete,
    .progress-bar-node > .node-bottom-text.incomplete {
        display: none;
    }

    .progress-bar-node:first-of-type > .node-bottom-text {
        margin-left: 0;
        text-align: left;
    }

    .progress-bar-node:last-of-type > .node-bottom-text {
        margin-left: -150px;
        text-align: right;
    }
}

@media only screen and (min-width: 680px) {
    .progress-bar-node:first-of-type > .node-bottom-text,
    .progress-bar-node:last-of-type > .node-bottom-text {
        width: 180px;
        margin-left: -75px;
    }
}

.progress-bar-node > .node-bottom-text {
    width: 180px;
    margin-left: -75px;
}

.progress-bar-node > .node-bottom-text {
    position: absolute;
}

.progress-bar-node > .node-bottom-text.current {
    font-weight: bolder;
}

.bar-line {
    display: inline-block;
    width: 13vw;
    height: 4px;
    margin: 0 -1px 13.5px -1px;
}
