.progress-bar-wrapper {
    width: 100%;
    text-align: center;
}

.progress-bar-container {
    padding-bottom: 20px;
}

.progress-bar-container > .progress-bar-node {
    display: inline-block;
}

@media only screen and (max-width: 679px) {
    .progress-bar-node > .node-bottom-text.complete,
    .progress-bar-node > .node-bottom-text.incomplete {
        display: none;
    }

    .progress-bar-node:first-of-type > .node-bottom-text {
        margin-left: 2px;
        text-align: left;
    }

    .progress-bar-node:last-of-type > .node-bottom-text {
        margin-left: -146px;
        text-align: right;
    }
}

.progress-bar-node > .node-bottom-text {
    width: 180px;
    margin-left: -72px;
    position: absolute;
}

.progress-bar-node > .node-bottom-text.current {
    font-weight: bolder;
}

.bar-line {
    display: inline-block;
    width: 13vw;
    height: 4px;
    margin: 0 -1px 16px -1px;
}
